# 百度语音API（ASR/TTS）
BAIDU_API_KEY=xxx
BAIDU_SECRET_KEY=xxx
BAIDU_TOKEN_URL=https://aip.baidubce.com/oauth/2.0/token
BAIDU_ASR_URL=https://vop.baidu.com/server_api
BAIDU_TTS_URL=https://tsn.baidu.com/text2audio

# 阿里云通义千问API（文本）
ALI_API_KEY=sk-xxx
ALI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1


# 阿里云通义千问API（视觉推理）
ALI_VL_API_KEY=sk-xxx
ALI_VL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1


#DeepSeek API
DEEPSEEK_API_KEY = sk-xxx
DEEPSEEK_BASE_URL = https://api.deepseek.com


# 火山引擎API
ARK_API_KEY = xxx
APK_BASE_URL = https://ark.cn-beijing.volces.com/api/v3

# Metaso 联网搜索API
METASO_API_KEY=mk-xxx